<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>

    <meta charset="UTF-8"/>
    <meta
            name="keywords"
            content="sawing teeth,machines,пильные зубья,гусеницы"
    />
    <meta name="author" content="Well"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/reset.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/header.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/hero.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/category.css'%}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/footer.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/item-of-category.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/slider.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/media-footer&header.css' %}?v=1.1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/media-item-of-category.css' %}?v=1.1"/>


    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
            rel="stylesheet"
    />
    <style>

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }


        input[type=number] {
            -moz-appearance: textfield;
        }
        input[type=number]:focus {
    outline: none;
}
    </style>
    <title>Item of category</title>
</head>
<body>
<!-- start header -->
{% include 'catalog/fixed/navbar.html' %}
<!-- start main -->
<main>
    <div class="grey-stripe">
        <div class="container">
            <div class="resolution">
                <div class="nav-on-page">
                    <a href="{% url 'home_page' %}">Главная</a> | <a class=""
                                                                     href="{% url 'category_catalog' category.slug %}">{{category.category_name}}</a>|
                    <a class="current-link" href="{% url 'item_detail' category_slug=category.slug item_id=item.id %}">{{item.full_name}}</a>
                </div>
                <h3 class="category-item">{{item.full_name}}</h3>
            </div>
        </div>
    </div>

    <div class="container">
        <section class="description-item">

            <div class="container-left">
                <div class="short-info-container">
                    <div>
                        <h6 class="name-of-brand">{{item.brand}}</h6>
                        <h6 class="vendor">{{item.vendor}}</h6>
                    </div>
                    <div class="item-price">{{item.price}}₽</div>
                </div>
                <p class="description">
                    {{item.description}}
                </p>
                <div class="bottom-container">
                    <button onclick="changeColor()" class="add-to-cart-in-item-btn" id="add-button" value="{{item.id}}">
                        В корзину
                    </button>
                    <label for="quantity" class="label-qty">
                        <input class="quantity-btn" type="number" id="quantity" name="quantity" min="1" max="200"
                               value="1"> ШТ.
                    </label>
                </div>
                <div class="drop-list-comp">
                    <div id="drop-trigger-comp">
                        Комплектация
                        <img
                                class="down-arrow"
                                src="\static\assets\svgs\arrow-down.svg"
                                alt=""
                        />
                    </div>
                    <div class="content-comp">
                        <ul class="content__list-comp">
                            {% for accessory in item.accessories.all %}
                            <li class="content__item-comp">
                                <p class="content__item-p"><img src="/static/assets/svgs/check.svg" alt="checkmark">&nbsp;
                                    {{ accessory.name }}</p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="additional-container">
                <div class="slider-container">
                    <div class="slider">
                        {% for additional_pic in item.additional_pic.all %}
                        <div class="slider__item">
                            <img src="{{ additional_pic.picture.url }}" alt=""/>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="dots-slider-container"></div>
                <div class="container dots">
                    {% for additional_pic in item.additional_pic.all %}
                    <img src="{{ additional_pic.picture.url }}" alt="" class="button-pics"/>
                    {% endfor %}
                </div>
            </div>

        </section>
    </div>
</main>
<!-- end main -->
<footer>
    <div class="footer-container">
        <div class="footer-left">
            <img src="/static/assets/svgs/footer-logo.svg" alt="">
            <h6 class="faq-phone">
                Вопросы по номеру<br>
                <span class="contact-phone">+7 (800) 5534-228</span>
            </h6>
            <span class="email-address">pochta@mail.ru</span>
        </div>
        <div>
            <nav class="navigation-footer">
                <h6 class="nav-title">Навигация по сайту</h6>
                <ul class="navigation__list-footer">
                    {% for category in categories %}
                    <li class="navigation__item-footer">
                        <a href="{% url 'category_catalog' category.slug %}">{{ category.category_name }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </nav>

            <h6 class="credits">
                Designed and built with all the love in the world by the <a href="#" class="depo-link">depo.</a><br>
                <span class="license">Code licensed <a href="#" class="license-link">MIT.</a></span>
            </h6>
        </div>


    </div>
    <!-- <div class="bottom-footer">

    </div> -->
    <div class="dark-stripe">
        <span class="commerce">© Well, Russia. Все права защищены.</span>
    </div>
</footer>
</body>
<!--<script src="\static\scripts\main.js"></script>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="\static\scripts\slick.min.js"></script>
<script src="\static\scripts\item.js"></script>
<script src="\static\scripts\category.js"></script>
<script src="\static\scripts\slider.js"></script>
<script src="\static\scripts\index.js"></script>
<!--<script src="\static\scripts\basket.js"></script>-->


<script>
    $(document).ready(function() {
        // Получаем id товара
        var itemId = $('#add-button').val();

        // Проверка, действительно ли itemId был получен
        if (!itemId) {
            console.error('Не удалось получить id товара');
            return;
        }

        // Инициализация состояния кнопки на странице товара
        const value = localStorage.getItem(itemId);
        if (value === '2') {
            $('#add-button').removeClass('on').addClass('off').text('Удалить');
        } else {
            $('#add-button').removeClass('off').addClass('on').text('В корзину');
            localStorage.setItem(itemId, '1'); // Установим значение по умолчанию
        }

        // Обработчик клика для добавления/удаления из корзины
        $(document).on('click', '#add-button', function(e) {
            e.preventDefault(); // Отключаем стандартное поведение кнопки
            var quantity = $('#quantity').val();
            var currentValue = parseInt(localStorage.getItem(itemId)) || 1;

            // Логика для удаления товара из корзины
            if (!quantity || quantity < 1 || quantity > 200) {
                if (currentValue === 2) {
                    // Удалить товар из корзины
                    currentValue = 1; // Удалено из корзины
                    $(this).removeClass('off').addClass('on').text('В корзину');

                    // Запись нового значения в localStorage для удаления
                    localStorage.setItem(itemId, currentValue);

                    // Формируем данные для AJAX запроса
                    var ajaxData = {
                        itemid: itemId,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'delete',
                    };

                    // Отправка AJAX запроса для удаления товара
                    $.ajax({
                        type: 'POST',
                        url: '{% url "basket:basket_delete" %}',
                        data: ajaxData,
                        success: function(json) {
                            // Обновляем количество товаров в корзине
                            document.getElementById('basket-qty').innerHTML = json.qty;
                        },
                        error: function(xhr, errmsg, err) {
                            // Обработка ошибок при удалении товара из корзины
                            console.error('Ошибка AJAX:', errmsg);
                        }
                    });
                } else {
                    // Показать сообщение об ошибке, если товар не в корзине и количество не указано
                    alert('Пожалуйста, укажите количество товара перед добавлением в корзину.');
                }
            } else {
                // Логика для добавления товара в корзину
                if (currentValue === 1) {
                    currentValue = 2; // Добавлено в корзину
                    $(this).removeClass('on').addClass('off').text('Удалить');

                    // Записываем новое значение в localStorage
                    localStorage.setItem(itemId, currentValue);

                    // Формируем данные для AJAX запроса
                    var ajaxData = {
                        itemid: itemId,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'post',
                        itemqty: quantity,
                    };

                    // Отправка AJAX запроса для добавления товара
                    $.ajax({
                        type: 'POST',
                        url: '{% url "basket:basket_add" %}',
                        data: ajaxData,
                        success: function(json) {
                            // Обновляем количество товаров в корзине
                            document.getElementById('basket-qty').innerHTML = json.qty;
                        },
                        error: function(xhr, errmsg, err) {
                            // Обработка ошибок при добавлении товара в корзину
                            console.error('Ошибка AJAX:', errmsg);
                        }
                    });
                } else {
                    // Удалить товар из корзины
                    currentValue = 1; // Удалено из корзины
                    $(this).removeClass('off').addClass('on').text('В корзину');

                    // Записываем новое значение в localStorage для удаления
                    localStorage.setItem(itemId, currentValue);

                    // Формируем данные для AJAX запроса
                    var ajaxData = {
                        itemid: itemId,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        action: 'delete',
                    };

                    // Отправка AJAX запроса для удаления товара
                    $.ajax({
                        type: 'POST',
                        url: '{% url "basket:basket_delete" %}',
                        data: ajaxData,
                        success: function(json) {
                            // Обновляем количество товаров в корзине
                            document.getElementById('basket-qty').innerHTML = json.qty;
                        },
                        error: function(xhr, errmsg, err) {
                            // Обработка ошибок при удалении товара из корзины
                            console.error('Ошибка AJAX:', errmsg);
                        }
                    });
                }
            }
        });
    });
</script>

</html>
